    {% extends "layout.html" %}

    {% block title %}<title>Achat-vetements</title>{% endblock %}
    {% block body %}


    <h1 style="text-align: center;font-size: 50px;margin: 20px;">Achat vêtements</h1>
    <a href="/Achats-vetements/add" class="btn btn-sm btn-success border-3 m-3">Ajouter un achat</a>

    <table class="table table-hover table-bordered table-sm align-middle shadow-sm">
    <thead class="table-dark">
        <tr>
            <th style="text-align: center">ACHAT</th>
            <th style="text-align: center">QUANTITÉ ACHETÉE</th>
            <th style="text-align: center">Catégorie</th>
            <th></th>
        </tr>
    </thead>

    {% for av in Av %}
    <tr>
        <td style="text-align: center">{{ av.date_achat }}</td>
        <td style="text-align: center">{{ av.quantite_achete }} kg</td>
        <td style="text-align: center">{{ av.nom_vetement }} ({{ av.id_categorie_vetement }})</td>
        <td style="text-align: center">
            <a href="/Achats-vetements/edit?id_achat_vetement={{ av.id_achat_vetement }}" class="btn btn-warning btn-sm">Éditer</a>
            <a href="/Achats-vetements/delete?id_achat_vetement={{ av.id_achat_vetement }}" class="btn btn-danger btn-sm">Supprimer</a>
        </td>
    </tr>
    {% endfor %}
</table>

    {% endblock %}
