{% extends "layout.html" %}

{% block title %}
<title>Modifier un dépôt</title>
{% endblock %}

{% block stylesheet %}
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/static/css/Achat_styles.css">
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Modifier un dépôt</h1>
    <form action="/Depose/edit" method="POST">
        <input type="hidden" name="id_depose" value="{{ depose.id_depose }}">

        <div class="mb-3">
            <label for="depot_id" class="form-label">Dépôt :</label>
            <select class="form-select" name="depot_id" required>
                {% for depot in depots %}
                <option value="{{ depot.id_depot }}" {% if depot.id_depot==depose.depot_id %}selected{% endif %}>
                    {{ depot.id_depot }}
                </option>
                {% endfor %}
            </select>
        </div>


        <div class="mb-3">
            <label for="client_id" class="form-label">Client :</label>
            <select class="form-select" name="client_id" required>
                {% for client in clients %}
                <option value="{{ client.id_client }}" {% if client.id_client==depose.client_id %}selected{% endif %}>
                    {{ client.nom }} {{ client.prenom }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="categorie_vetement_id" class="form-label">Catégorie du vêtement :</label>
            <select class="form-select" name="categorie_vetement_id" required>
                {% for cat in categories %}
                <option value="{{ cat.id_categorie_vetement }}" {% if
                    cat.id_categorie_vetement==depose.categorie_vetement_id %}selected{% endif %}>
                    {{ cat.nom_vetement }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="quantite_depot" class="form-label">Quantité déposée (kg) :</label>
            <input type="number" step="0.01" name="quantite_depot" id="quantite_depot" class="form-control"
                value="{{ depose.quantite_depot }}">
        </div>

        <div class="mb-3">
            <label for="date_depot" class="form-label">Date dépôt :</label>
            <input type="date" name="date_depot" id="date_depot" class="form-control" value="{{ depose.date_depot }}">
        </div>

        <button type="submit" class="btn btn-primary">Modifier</button>
        <a href="/Depose/show" class="btn btn-secondary">Annuler</a>
    </form>
</div>
{% endblock %}