{% extends "layout.html" %}

{% block title %}
<title>Ajouter un dépôt</title>
{% endblock %}

{% block stylesheet %}
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/static/css/Achat_styles.css">
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Ajouter un dépôt</h1>
    <form action="/Depose/add" method="POST">
        <div class="mb-3">
            <label for="id_client" >Client :</label>
            <select name="id_client" id="id_client" required>
                <option value="">Sélectionnez un client</option>
                {% for c in clients %}
                <option value="{{ c.id_client }}">{{ c.nom }} {{ c.prenom }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="id_categorie_vetement" >Catégorie vêtement :</label>
            <select name="id_categorie_vetement" id="id_categorie_vetement"  required>
                <option value="">Sélectionnez une catégorie</option>
                {% for cat in categories %}
                <option value="{{ cat.id_categorie_vetement }}">{{ cat.nom_vetement }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="id_depot" >ID dépôt :</label>
            <select name="id_depot" id="id_depot"  required>
                <option value="">Sélectionnez un dépôt</option>
                {% for dep in depots %}
                <option value="{{ dep.id_depot }}">{{ dep.id_depot }}</option>
                {% endfor %}
            </select>
        </div>




        <div class="mb-3">
            <label for="quantite_depot" class="form-label">Quantité déposée (kg) :</label>
            <input type="number"  name="quantite_depot" id="quantite_depot" >
        </div>

        <div class="mb-3">
            <label for="date_depot" class="form-label">Date dépôt :</label>
            <input type="date" name="date_depot" id="date_depot" >
        </div>

        <button type="submit" >Ajouter</button>
        <a href="/Depose/show" >Annuler</a>
    </form>
</div>
{% endblock %}
